{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta name="description" content="Blog sobre temas legales">
        <meta name="author" content="Ileana Gabriela Rivero Sosa">
        <!-- <link rel="icon" href="../../favicon.ico"> -->
        <title> ShotLegal </title>

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap/3.3.7/css/bootstrap.min.css' %}"/>

        <!-- PACE -->
        <link rel="stylesheet" type="text/css" href="{% static 'libs/pace/1.0.0/pace.theme.min.css' %}"/>

        <!-- Awesome Icons -->
        <link rel="stylesheet" type="text/css" href="{% static 'libs/awesome-icons/4.7.0/css/font-awesome.min.css' %}">

        <!-- Legalink' Styles -->
        <link rel="stylesheet" type="text/css" href="{% static 'master.min.css' %}"/>

        {% block css %}

        {% endblock css %}

    </head>
    <body>

        <div class="own-wrap">

            <div class="own-main">

                <img src="{% static "images/decoradores/header_new.png" %}" class="img-responsive legalink-img-header" alt="img_header">

                <div class="container-fluid">

                    <div class="row">

                        <div class="col-xs-12">
                            <header class="legalink-header">
                                <nav class="navbar navbar-default legalink-navbar">

                                    <div class="container-fluid">

                                        <div class="navbar-header">

                                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
                                                <span class="sr-only">Menu</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>

                                            <a class="navbar-brand" href="{% url 'redaccion:post_publicados' %}">Inicio</a>

                                        </div>

                                        <div class="collapse navbar-collapse" id="menu">

                                            <ul class="nav navbar-nav navbar-right">
                                                <li><a href="{% url 'seguridad:owner_info_view' %}">¿Quien escribe?</a></li>
                                                <!-- <li><a href="#">Formatos</a></li> -->
                                                <!-- <li><a href="#">Herramientas</a></li> -->

                                                {% if user.is_authenticated %}
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                                        {{ user.username }}
                                                        <span class="caret"></span>
                                                    </a>
                                                    <ul class="dropdown-menu legalink-menu">
                                                        {% if user.is_staff %}
                                                        <li>
                                                            {% if user.profile.is_owner %}
                                                            <a href="{% url 'seguridad:owner_info_edit' %}">
                                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                                Mi información
                                                            </a>
                                                            {% endif%}

                                                            <a href="{% url 'redaccion:post_administracion' %}">
                                                                <i class="fa fa-users" aria-hidden="true"></i>
                                                                Administracion de Posts
                                                            </a>
                                                        </li>
                                                        {% endif%}
                                                        <li>
                                                            <a href="{% url 'seguridad:logout' %}">
                                                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                                                Salir
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                {% else %}

                                                <li><a href="{% url 'seguridad:login' %}">Login</a></li>

                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                            </header>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xs-12">

                        {% block contenido %}

                        {% endblock contenido %}

                        </div>
                    </div>
                </div>


            </div>
        </div>

        <footer class="text-center own-page-footer">
            ShotLegal Derechos Reservados. <span><a href="{% url 'home:disclaimer' %}">Disclaimer</a></span>
        </footer>

        <!-- jQuery-->
        <script type="text/javascript" src="{% static 'libs/jquery/2.2.4/jquery.min.js' %}"></script>

        <!-- Bootstrap-->
        <script type="text/javascript" src="{% static 'libs/bootstrap/3.3.7/js/bootstrap.min.js' %}"></script>

        <!-- Pace -->
        <script data-pace-options='{ "startOnPageLoad": false }' type="text/javascript" src="{% static 'libs/pace/1.0.0/pace.min.js' %}"></script>

        <!-- Own's Libraries -->
        <script type="text/javascript" src="{% static 'master.min.js' %}"></script>

        {% block scripts %}

        {% endblock scripts %}

    </body>
</html>
