{% extends 'master.html' %}

{% load static from staticfiles %}

{% block css %}

    <!-- Legalink' Styles -->
    <link rel="stylesheet" href="{% static 'post/post_administracion.min.css' %}" type="text/css"/>

{% endblock css %}

{% block contenido %}

    <div class="row">
        <div class="col-xs-12">

            <article class="legal-article">

                <header>
                    <h3 class="legal-titulo">Administracion de Posts</h3>
                </header>

                <hr class="legal-article-line">

                <nav class="legal-article-toolbar">

                    <div class="row">

                        <div class="col-xs-12 col-sm-6">
                            <a href="{% url 'redaccion:post_nuevo' %}" class="btn btn-primary visible-xs visible-sm-inline visible-md-inline visible-lg-inline">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                Nuevo post
                            </a>
                        </div>

                        <br class="visible-xs">
                        <br class="visible-xs">

                        <div class="col-xs-12 col-sm-6">
                            <form action="" method="GET">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="q" placeholder="escribe texto a buscar" value="{{ request.GET.q }}">

                                    <span class="input-group-btn">
                                      <button type="submit" id="boton_buscar" class="btn btn-info btn-flat">
                                        <i class="fa fa-search"></i>
                                        Buscar
                                      </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </nav>

                {% if registros %}

                <div class="legal-article-lista">
                    <div class="list-group">
                    {% for registro in registros %}
                        <a href="{% url 'redaccion:post_editar' registro.pk %}" class="list-group-item">
                            {{ registro.titulo }}
                            <span
                            class="badge
                            {% if registro.status == "PUB" %}
                                badge-publicado
                            {% else %}
                                badge-captura
                            {% endif %}">
                                {{ registro.get_status_display }}
                            </span>
                        </a>
                    {% endfor %}
                    </div>

                    <div class="text-center">
                        <ul class="pagination pagination-sm no-margin legal-paginador">
                            {% if registros.has_previous %}
                                <li><a href="?{{ page_request_var }}={{ registros.previous_page_number }}&q={{ request.GET.q }}">&laquo;</a></li>
                            {% endif %}

                            {% for i in registros.paginator.page_range %}
                                <li {% if registros.number == i %} class="active" {% endif %}>
                                    <a href="?page={{i}}&q={{ request.GET.q }}">{{ i }}</a>
                                </li>
                            {% endfor %}

                            {% if registros.has_next %}
                                <li><a href="?page={{ registros.next_page_number }}&q={{ request.GET.q }}">&raquo;</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

                {% else %}

                <div class="legal-article-avance text-center">
                    <h1>Sin posts</h1>
                </div>

                {% endif %}

            </article>


        </div>
    </div>

{% endblock contenido %}
