{% extends 'master.html' %}

{% load static from staticfiles %}

{% load tags_fields %}

{% block css %}

    <!-- Summernote -->
    <link rel="stylesheet" type="text/css" href="{% static 'libs/summernote/0.8.3/summernote.css' %}"/>

    <!-- Legalink's Styles -->
    <link rel="stylesheet" href="{% static 'post/post_form.css' %}" type="text/css"/>


{% endblock css %}

{% load crispy_forms_tags %}

{% block contenido %}


    <div class="row">
        <div class="col-xs-12">
            <article class="legal-article">

                <header>
                    {% if operacion == "Editar" %}
                    <h3 class="legal-titulo">Edicion del Post: {{form.instance.pk}} </h3>
                    <button type="button" class="btn btn-danger pull-right legal-btn-eliminar">
                        <i class="fa fa-trash-o" aria-hiden="true"></i>
                        <span class="hidden-xs">Eliminar</span>

                    </button>
                    {% else %}
                    <h3 class="legal-titulo">Crear Post </h3>
                    {% endif %}
                </header>

                <hr class="legal-article-line">

                <form
                action=""
                method="POST"
                enctype="multipart/form-data"> {% csrf_token %}

                    <div class="legal-article-form">

                        {% tag_input form.titulo %}

                        {% tag_input form.imagen %}

                        {% tag_input form.contenido %}

                        {% tag_input form.status %}
                    </div>

                    <footer class="legal-article-botones">

                        {% if operacion == "Editar" %}
                        <input type="submit" class="btn btn-lg btn-warning" value="Actualizar">
                        {% else %}
                        <input type="submit" class="btn btn-lg btn-success" value="Guardar">
                        {% endif %}

                    </footer>

                </form>

            </article>
        </div>
    </div>

{% endblock contenido %}

{% block scripts %}

    <!-- Summernote -->
    <script type="text/javascript" src="{% static 'libs/summernote/0.8.3/summernote.min.js' %}"></script>

    <!-- Legalink's Scripts -->
    <script type="text/javascript" src="{% static 'post/post_form.js' %}"></script>

{% endblock scripts %}
