@import url('https://fonts.googleapis.com/css?family=Arimo|Assistant');

h1, h2, h3, h4, h5 {
    font-family: 'Arimo', sans-serif;
}

html, body {
    height: 100%;
    background-color: #F2F2F2;
    font-family: 'Assistant', sans-serif;
}


.own-wrap {
  min-height: 100%;
}

    .own-main {
      overflow: visible;
      padding-bottom:2.7em; /* this needs to be bigger than footer height*/
    }

    .navbar {
        font-family: 'Arimo', sans-serif;  
    }

.legalink-header {
    text-align: left;
    text-align: center;
}

    .legalink-img-header {
        border-radius: 0;
        width: 100%;
    }

    .legalink-navbar {
        border-radius: 4px 4px 4px 4px;
        border-color: #f2f2f2;
        background-color: #f2f2f2;

        margin-bottom: 14px;
        /*margin-top: .7em;*/
    }

    .legalink-navbar a {
        color: #18314d !important;
        font-weight: bold;
        font-size: 18px;
    }

    .legalink-navbar a:hover {
        color: #2b619f !important;
    }

    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open {
        background-color: white !important;
        color: black !important;
    }

    .legalink-navbar .dropdown .dropdown-menu a {
        background-color: white !important;
        color: black !important;
    }

    .legalink-navbar .dropdown .dropdown-menu a:hover {
        background-color: white !important;
        color: #F2B108 !important;
    }



.legal-article {
    background-color: #FFFFFF;
    margin-bottom: 1em;
    border-radius: 4px;

    border: 1px solid #ddd;
}

    .legal-article header {
        text-align: center;
        padding: 1.5em 1em 1.5em ;
    }

        .legal-article header .legal-titulo {
            color: #18314d;
            margin:0;
            padding: 0;
        }

        .legal-article header .legal-titulo:hover {
            text-decoration: none;
            color: ##337ab7;
        }

    .legal-article .legal-article-line {

        border-top: 1px dashed black;
        margin: 0;
    }

    .legal-article .legal-portada {
        margin-bottom: 1em;
    }

    .legal-article .legal-article-meta {
        margin-left: 1em;
    }

    .legal-article .legal-article-toolbar {
        margin: 1em 1em;
    }

    .legal-article .legal-article-image {
        margin-bottom: 1em;
        width: 100%;
    }

    .legal-article .legal-article-avance {
        /*margin-bottom: 1em;*/
        padding: 0 1em .5em;
        text-align: justify;
    }

    .legal-article .legal-article-form {
        margin-bottom: 1em;
        padding: 1em 1em .5em;
    }

    .legal-article .legal-article-botones {
        margin-top: 1em;
        margin-bottom: 1em;
        text-align: center;
    }

        .legal-article .legal-article-botones .legal-btn-leer {
            /*background-color: #424E5D;*/
            color: #eda20a;
            font-weight: bold;
            font-size: 21px;
        }

    .legal-article .legal-article-lista {
        margin: 1em 1em 0;
    }

        .badge-publicado {
            background-color: green;
        }

        .badge-captura {
            background-color: orange;
        }


.legal-article-paginador {
    margin: 0 0 70px !important;
}

    .legal-article-paginador > li > a {
        font-size: 18px;
    }

.own-page-footer {

	position: relative;
	margin-top:-2.7em; /* negative value of footer height */

	height: 2.7em;
	border-top: 1px solid #E5E5E5;
	background-color: white;
    color: #666;
	padding: .7em;
  	clear:both;

    background-color: white;

}




@media (min-width: 768px) {
    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
}
