body {
    background-color: #F2F2F2;
}

.legalink-header {
    margin-top: 1em;
}

    .legalink-img-header {
        border-radius: 0;

    }

    .legalink-navbar {
        border-radius: 4px 4px 4px 4px;
        border-color: #F2B108;
        background-color: #F2B108;

        margin-bottom: 14px;
        margin-top: .7em;
    }

    .legalink-navbar a {
        color: black !important;
        font-weight: bold;
        font-size: 18px;
    }

    .legalink-navbar a:hover {
        color: white !important;   
    }

    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open {
        background-color: white !important;
        color: black !important;
    }

    .legalink-navbar .dropdown .dropdown-menu a {
        background-color: white !important;
        color: black !important;
    }

    .legalink-navbar .dropdown .dropdown-menu a:hover {
        background-color: white !important;
        color: #F2B108 !important;
    }



.legal-article {
    background-color: #FFFFFF;
    margin-bottom: 1em;
    border-radius: 4px;
    
    border: 1px solid #ddd;
}
    
    .legal-article header {
        text-align: center;
        padding: 1.5em 1em 1.5em ;
    }

        .legal-article header .legal-titulo {
            color: #222E3E;
            margin:0;
            padding: 0;
        }

    .legal-article .legal-article-line {
        
        border-top: 1px dashed black;
        margin: 0;
    }

    .legal-article .legal-article-meta {
        margin-top: 1em;
        margin-bottom: 1em;
    }

        .legal-article .legal-article-meta ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            text-align: center;
        }

            .legal-article .legal-article-meta ul li {
                display: inline;
                /* margin-right: 2em;*/
                margin-left: 1em;
            }

    .legal-article .legal-article-toolbar {
        margin: 1em 1em;
    }        

    .legal-article .legal-article-image {
        
        margin-bottom: 1em;
    }

    .legal-article .legal-article-avance {
        margin-bottom: 1em;
        padding: 0 1em .5em;
    }
    
    .legal-article .legal-article-form {
        margin-bottom: 1em;
        padding: 1em 1em .5em;
    }

    .legal-article .legal-article-botones {
        margin-bottom: 1em;
        text-align: center;
    }

        .legal-article .legal-article-botones .legal-btn-leer {
            background-color: #424E5D;
            color: white;
        }

    .legal-article .legal-article-lista {
        margin: 1em 1em 0;
    }

        .badge-publicado {
            background-color: green;
        }

        .badge-captura {
            background-color: orange;
        }    


.legal-article-paginador {
    margin: 0 0 70px !important;
}
    
    .legal-article-paginador > li > a {
        font-size: 18px;
    }

@media (min-width: 750px) {


    .legalink-navbar {
        margin-bottom: 20px;
    }

    .legal-article {
        margin-bottom: 2em;
    }

        .legal-article .legal-article-meta ul li {
            display: inline;
            margin-right: 3em;
        }


    .legalink-header {
        margin-top: 1.5em;
    }

}

.legal-img {
    width: 80%;
}
