body {
    background-color: #F2F2F2;
}

.global-loginbox {
    margin-top:50px;   
}

.global-panel-body {
    padding: 15px 15px 0;   
}

.global-fields {
    margin-bottom: 25px
}

.global-bottons {
    margin-top: 10px;
    margin-bottom: 0px;
}

.global-forgetpass {

    float:right;
    font-size: 80%;
    position: relative;
    top:-25px;
    right:7px;    
}